body {
  overflow-y: scroll;
}

.white-bg {
  background: @white;
}

.content {
  margin-top: 56px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0.33, #fec30a), color-stop(0.67, rgb(0,255,255)));
  @media screen and (max-width: 736px) {
    margin-top: 110px;
  }
}

.shifted {
  margin-top: 6px;
  background-color: @body-background;
}

.text-icon {
  font-size: 18px !important;
  margin-right: 4px;
  vertical-align: -1px;
}

.ant-layout {
  overflow: hidden;
}

.ant-tooltip {
  z-index: 999;

  &-content {
    font-weight: 500;
  }
}

.ant-popover-title {
  color: #9d9d9d;
  line-height: 36px;
  height: 36px;
}

video {
  max-width: 100%;
}

.iconfont {
  font-size: 26px;
}